
body{
    display:flex;
    overflow-x: hidden;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#intro
{
    width:100%;
    height: 55vh;
    background-image: url(https://ninjasfiles.s3.amazonaws.com/asset_0000000000000020_1549743985_macbook_mouse.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    opacity: .8;
    background-color:#efefef ;

}
.dropdown
{
    height:0px;
    width:0px;
    overflow: hidden;
    
}
#navigation
{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
#navigation li{
    margin:5px;
    transition: .5s ease-in-out;
}
#navigation li a
{
   text-decoration: none;
   color:white;
   font-size: 1.3rem;
}
#navigation li :hover{
  text-decoration: underline;
  font-size: 1.4rem;
} 
#name
{   
    width:100%;
    text-align: center;
}
#name h1{
    font-size: 4.3rem;
    color: white;
}
#social
{
    width:100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-top: 2%;
  
}
#social img{
    height:100%;
    width:40%;
    
}
#social li  {
    margin:1%;
    text-decoration: none;
    transition: .5s ease-in-out;
}

#social li :hover{
    scale: 110% 110%;
}

  #about
{   
    width:100%;
    height: auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    
} 
#photo
{
   margin: auto;
    width:40vh;
    height:40vh;
    margin-top:-8%;
    box-shadow: 5px 5px 3px 3px #888888;
    border-radius: 50%;
    border:2px solid white;
}
#about p{
    padding:1.5% 5%;
    line-height: 170%;
    font-size: 1.2rem;
    color:grey;
}
.text-highlight
{
    color: #4b6bad;
}
#photo img
{
   width:100%;
   height:100%;
   border-radius: 50%;
  
}

#skills
{
    width:100%;
    height:60vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#efefef ;  
}

.skill-outer
{
    height:16%;
    width: 18%;
    border-radius: 20px;
    box-shadow:1px 1px 1px 1px grey;
    padding: 0%;
    margin: 2%;
}
#c
{
    margin: 0%;
    height:100%;
    width:90%;
    border-radius:20px 0px 0px 20px;
    background-color: #4b6bad;
}
#html
{
    margin: 0%;
    height:100%;
    width:90%;
    border-radius:20px 0px 0px 20px;
    background-color: orangered;
}
#css
{

    margin: 0%;
    height:100%;
    width:80%;
    border-radius:20px 0px 0px 20px;
    background-color: #93738c;
}
#javascript
{
    margin: 0%;
    height:100%;
    width:60%;
    border-radius:20px 0px 0px 20px;
    background-color:#0d8277;
}
#nodejs
{
    margin: 0%;
    height:100%;
    width:40%;
    border-radius:20px 0px 0px 20px;
    background-color:#2957a4;   
}
#mongodb
{

    margin: 0%;
    height:100%;
    width:50%;
    border-radius:20px 0px 0px 20px;
    background-color: #93738c;
}
.skill-name
{
    
    display: inline-block;
    color: white;
    margin-left: 6%;
    font-size: 1.5rem;
}

.section-content
{
    width:100%; 
    height:65%;
    padding: 2%;
    position: relative;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#workexperince
{
    width:100%;
    height:98vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.work-section
{
    width:100%; 
    height:85%;
    position: relative;
}

.work-section .work-content:nth-child(even)
{
    position: absolute;
    top:30%;
    left:58%;
}
.work-content:nth-child(even)::before
{
    content:'';
    display: inline-block;
    border: 2px solid #4b6bad;
    background-color:#4b6bad ;
    height:5px;
    width:5px;
    border-radius: 50%;
    position:absolute;
    z-index: 2;
    left:-27.3%;
}
.work-content:nth-child(odd)::after
{
    content:'';
    display: inline-block;
    border: 2px solid #4b6bad;
    background-color:#4b6bad ;
    height:5px;
    width:5px;
    border-radius: 50%;
    position:absolute;
    z-index: 2;
    left:49.9%;
}
.work-section .work-content:nth-child(odd)
{
    
    margin-left:10%;
    margin-bottom:4%;
    margin-top:1%;
}
.time-line-divider
{
    
    width:0%;
    height:85%;
    border:1px dashed #2957a4;
    position: absolute;
    left:50%;
    top:5%;
}
.aeroplane
{
    transform:rotate(90deg);
    color:#2857a4;
    position: sticky;
    left:49.4%;
    top:15%;
}

.work-content
{
   
   width:30%;
   height:40%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.work-heading
{
    height:30%;
    width:80%;
   
    text-align: right;
}
.desig
{
  font-size:1.2rem;
  color:#2957a4;
  font-weight: 900;
}
.company-name
{
    color:orange;
}
.date
{
   color:lightslategrey
}
.work-image
{
    height:25%;
    width:12%;
    
}
.work-image img
{
    height:100%;
    width:100%;
}
.work-desc
{
    height:50%;
    width:100%;
    line-height: 20px;
    color: lightslategrey;
    font-size: 1rem;
}

#education
{
    width:100%;
   
    height:98vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color:#efefef ;
}
#portfolio
{
    width:100%;
    height: 75vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
#portfolio-section
{
    display: flex;
    flex-wrap: wrap;
    height:80%;
    justify-content: space-evenly;
    width:100%;
}
#portfolio-section div{
   
    height:45%;
    width:30%;
    margin-top: 1%;
}
#portfolio-section div img{
    height: 100%;
    width:100%;
}
.section-heading
{
   width:100%;
   height:15%; 
   display: flex;
   flex-wrap: nowrap;
   justify-content: center;
   
}
.section-photo
{   height:65%;
    width:5%;
    margin-top: 1%;
    
}
.section-name
{
    
    margin-left:1%;
    height: 65%;
    margin-top: 1%;
    color:#4b6bad;
    font-size:2.5rem;

}

.section-photo img {
    height:100%;
    width:100%;
    
}
#contact
{
    width:100%;
    height: 80vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(#2857a4,#403066);
    
}
#contact-section
{
    display: flex;
    flex-wrap: wrap;
    width:100%;
    height:70%;
    justify-content: space-around;
    margin-top:-2%;

}
#contact-content-1
{
    
    height:85%;
    width:40%;
}
#contact-content-2
{
    
    height:85%;
    width:45%;
    margin-left: 5% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact-side
{
    width:80%;
    height:40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.contact-side-heading
{
    font-size:1.4rem;
    color:white;
    font-weight: 500;
   
    width:100%;
    height:30%;
}
.contact-side-desc
{
  
  
    width:100%;
    height:70%; 
    color:silver;

}
.contact-side-desc i{
    color:white;
    margin-right:1%;
}
#section-name
{
    
    margin-left:1%;
    height: 65%;
    margin-top: 1%;
    color: white;
    font-size:2.5rem;
  
}
#form{
    
    padding:3%;
}
.form
{
    display: block;
    margin: 2%;
    background: linear-gradient(#2857a4,#403066);
    border:none;
    border-bottom: 2px solid slategrey;
}
#form span{
    color:silver;
    font-size: 1.1rem;
    margin:2%;
}
#button
{
    font-size:1.1rem;
    font-weight: 500;
    border:2px solid grey;
   margin :10% 0% 0% 35%;
}
@media screen and (max-width:850px)
{
    .work-section{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
   
    .work-content
{
   
   width:60%;
   height:40%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}



.work-section .work-content:nth-child(even)
{
   height:0;
   width:0;
   overflow: hidden;
}
.work-content:nth-child(even)::before
{
    
    border: 0px;
    height:0px;
    width:0px;
}
.work-content:nth-child(odd)::after
{  
    border: 0px;
    height:0px;
    width:0px;
 
}

.time-line-divider
{
     left:4%;
    }
.aeroplane
{
left:4.4%;
}  
.skill-name
    {
        color: black;
        margin-left: 3%;
        font-size: 1.1rem;
    }
    .skill-outer
    {
        height:14%;
        width: 35%;
        
    }
    #skills
    {
       flex-direction: column;
        
    }
}
@media screen and   (max-width:730px) {
    
    .contact-side
    {
        width:100%;
        height:50%;
       
    }
    #navigation
    {
        height:0px;
        width:0px;
        overflow: hidden;
    }
    .dropdown
    {
        height:auto;
        width:auto;
        overflow: visible;
        margin:2%;
    }
    #contact-content-1
{
    
    height:95%;
    width:40%;
}
#contact-content-2
{
    
    height:95%;
    width:45%;
    margin-left: 5% ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
}
@media screen and (max-width:620px)
{
    #contact-content-1
    {
        height:0px;
        width:0px;
        overflow: hidden; 
    }
    #contact-content-2
    {
  
    width:80%;
    margin-left: 0% ;
    justify-content: space-evenly;
    }
    .work-content
    {
       
       width:80%;
       height:40%;
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
    }
}
